main.css 
 
  

h1 { 

  margin: 0;  

  text-align: center; 

  color: #352D41; 

  background-color: #B8AEBF; 

  font-size: 3em; 

} 

 

p { 

  width: 600px; 

  margin: 50px 212px; 

  color: #1A4D69; 

  font-size: 1.5em; 

} 

 

img { 

  width: 100%;  

} 

 

span { 

  font-size: 2em;  

} 