 
@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie); 

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker); 

body { 

    font-family: "italic";

    color: rgb(13, 13, 13); 

    background-color:rgb(142, 121, 182); 

    margin: 50px auto; 

    padding: 20px; 

    text-align: center; 

} 

 

p { 

    background-color: rgb(237, 236, 236); 

    color: black; 

    width: 550px; 

    display: block; 

    margin: 50px auto; 

    padding: 20px; 

    border-radius: 10px; 

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

    text-align: center; 

    font-style: italic; 

}     
.button {
   padding: 10px 20px;
     font-size: 16px;
     background-color: #0c0c0c;
     color: white;
     border: none;
     border-radius: 5px;
     text-decoration: none;
     text-align: center;
     display: inline-block;
 }

 .button:hover {
     background-color: #a9b2bc;
 }

 

h1 { 

    font-family: "Permanent Marker"; 

    color: #030a01; 

    font-size: 48px; 

    font-weight: bold; 

} 

 

h2 { 

    color: #eae9ea00; 

    font-family: "italic"; 

    font-size: 32px; 

    font-weight: bold; 

} 

 

h3 { 

    font-family: "italic"; 

    color: #ece5e9; 

    font-size: 28px; 

} 

 

h4 { 

    font-family: "italic"; 

    color: #ff69b4; 

    font-weight: bold; 

    font-size: 24px; 

} 

.gallery img {
    width: 300px;


}
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #121212;
    margin: 0;
}
